個人助理2.json
{
  "name": "個人助理2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -220,
        0
      ],
      "id": "ee7e8f69-b4c3-4170-8a99-ce63eb65da46",
      "name": "When chat message received",
      "webhookId": "b2d02fca-6b69-4686-924d-b3d1dc641d20"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=你是一個個人行動助理，你的職責是協助使用者處理日常事務。請記住，你的主要目標是利用以下提供的工具來完成任務。\n重要原則:\n當使用者提出需求時，優先判斷是否可透過以下工具完成。\n若工具所需資訊不完整，務必向使用者明確詢問，直到獲得所有必要資訊為止。\n可用工具:\n1. OpenWeatherMap (天氣查詢)\n功能: 用於查詢特定地點的即時天氣資訊。\n觸發條件: 當使用者需要了解任何地點的天氣狀況時，請調用此工具。\n所需參數: 地點 (Location) (例如：台北、東京)\n2. Accounting Tool (收支記帳)\n功能: 用於記錄使用者的各項收入與支出。\n觸發條件: 當使用者明確要求「記帳」、「記錄花費」、「記下收入」或類似指令時，必須使用此工具。\n必填參數:\n描述 (Description): 花費或收入的詳細說明。\n金額 (Amount): 數字，花費或收入的金額。\n自動記錄參數:\n日期時間 (DateTime): 會自動記錄為當前日期 {{ $json.currentDate }} (格式為 YYYY/MM/DD)。你無需提供此參數。\n提示: 若使用者要求記帳但未提供描述或金額，請主動詢問。\n工具呼叫範例 (使用者輸入後，AI應提取的參數):\n使用者說: 「我今天咖啡花了100元。」\nAI提取參數: description: \"咖啡\", amount: 100\n3. Google Calendar (建立行事曆事件)\n功能: 用於建立新的行事曆事件或提醒。\n觸發條件: 當使用者需要「安排行程」、「設定提醒」、「新增會議」或類似指令時，請調用此工具。\n必填參數:\n摘要 (Summary): 事件的簡要標題。若使用者未提供，務必追問。\n選填參數 (若使用者提供則加入):\n開始時間 (Start Time): 事件開始的日期和時間 (例如：2024/05/30 10:00)\n結束時間 (End Time): 事件結束的日期和時間 (例如：2024/05/30 11:00)\n地點 (Location): 事件發生的地點。\n描述 (Description): 事件的詳細說明。\n時間判斷依據: 當前日期時間為 {{ $json.currentDate }}，可作為時間判斷的參考。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "712be7f4-56ef-4d74-baea-610e3f273cb4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        260
      ],
      "id": "602bcccd-33e7-4312-abeb-17f13ea85940",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "brBeTa3AQh82uFm5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        180,
        260
      ],
      "id": "e5b726f2-dbb4-4d4e-930f-b60a14cac3ce",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "snyUD4T8wEYU7f4E",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "cityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', `City必須轉成英文`, 'string') }}",
        "language": "zh_tw"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        300,
        260
      ],
      "id": "81487067-8c61-4d72-a50f-50cf591e2251",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "Wkg59KXs7c7uMcFu",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "每日記帳工具",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Nm-OvhWP4urq7Vc70VT2N7oXc3lC1oEH0rnv16SJws0",
          "mode": "list",
          "cachedResultName": "N8N記帳",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nm-OvhWP4urq7Vc70VT2N7oXc3lC1oEH0rnv16SJws0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "記帳1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nm-OvhWP4urq7Vc70VT2N7oXc3lC1oEH0rnv16SJws0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', ``, 'string') }}",
            "amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('amount', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        540,
        260
      ],
      "id": "629e096e-ef43-49a3-87d8-258948e2449c",
      "name": "Accounting Tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ygYJaHws3VcM5JpY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        20,
        0
      ],
      "id": "dd2e7c13-bf8e-4cb3-9b2e-a833273efa0f",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "72a725d4b196cddc2f9128e90873e5a8c9c41e4edb59514d9bd495a51f909626@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "N8N行程"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        720,
        260
      ],
      "id": "768937f8-ccc6-410f-9ba0-628b3adb7799",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "djebWsK7PvjWsxSy",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "\n{\n\"sessionId\": \n\"9c5105ba133c447e891fd3b71e8d5546\",\n\"action\": \n\"sendMessage\",\n\"chatInput\": \n\"hi\"\n}",
        "height": 240,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        660,
        -340
      ],
      "id": "add5f9b7-08ab-4625-bce9-9cfc276a80e6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"replyToken: \"{{ $json.body.events[0].replyToken }}\",\n  \"sessionId\": \"9c5105ba133c447e891fd3b71e8d5546\",\n  \"action\": \"sendMessage\",\n  \"chatInput\": \"{{ $json.body.events[0].message.text }}\"\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        -200
      ],
      "id": "bd9d9427-33a9-4dda-b62c-901b4234d125",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "Bearer EMiU89DJFvdwAb7zNWnKQ93qyNaHlhnz8BAh49pJO74FhYdspXHsZh89/9fn8bY8nw2ZpEmA8w4oB/rFjbaWc3Dw+0ibWSXAZ+yMZMhmhpxMY+hnVfUN3o/Aks83ljR8nn8MnF3aaqDW/41cNe1tUwdB04t89/1O/w1cDnyilFU=",
        "height": 200,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        280,
        -340
      ],
      "id": "2418092d-bc40-4dd4-9fe1-6e013677eac3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1073b417-4ae8-42f0-bf73-8955fe8fc373",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        -200
      ],
      "id": "ada2bf64-10b9-4416-ae5d-3e979817d925",
      "name": "Webhook",
      "webhookId": "1073b417-4ae8-42f0-bf73-8955fe8fc373"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"replyToken\": \"{{ $('Edit Fields').first().json.replyToken }}\",\n  \"messages\": [\n    {\n        \"type\": \"text\",\n        \"text\": \"{{ $json.output.replaceAll(\"\\n\", \"\") }}\"\n    }\n  ]\n}\n  ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        0
      ],
      "id": "db485224-5589-4b40-97da-aefed3188259",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UfnqxUDndwbStVLY",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        420
      ],
      "id": "311dcb4c-5a3b-495a-8835-962546b871f0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://news.tvbs.com.tw/world",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        420
      ],
      "id": "3985c64a-fb5e-485c-b48e-44f2f0bbe368",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from bs4 import BeautifulSoup\nimport pandas as pd\nimport json\n\n# 解析輸入的 HTML 內容\nhtml = _input.first().json.data\nsoup = BeautifulSoup(html, 'html.parser')\n\n# 初始化輸出行列表\noutput_lines = [\"新聞列表：\"]\n\n# 找尋主要新聞容器 (class 為 \"news_now2\" 的 div)\nnews_now2 = soup.find('div', class_='news_now2')\n\nif news_now2:\n    # 找尋新聞列表容器\n    list_container = news_now2.find('div', class_='list')\n\n    # 確認找到列表容器且包含 ul 元素\n    if list_container and list_container.find('ul'):\n        # 遍歷所有新聞項目，只取前10篇\n        for i, li in enumerate(list_container.find('ul').find_all('li'), 1):\n            if i > 10:\n                break\n            # 提取每則新聞的連結元素\n            link = li.find('a')\n            if link:\n                # 取得標題和網址\n                title = link.text.strip()\n                url = \"https://news.tvbs.com.tw\" + link.get('href', '')\n\n                # 加入格式化的新聞資訊\n                output_lines.append(f\"{i}. {title}\")\n                output_lines.append(f\"   連結：{url}\")\n                output_lines.append(\"\")  # 加入空行\n\n# 合併所有行成為最終輸出字串\nformatted_string = \" \".join(output_lines)\n\n# 返回結果\nreturn [\n    {\"news_string\": formatted_string}\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        420
      ],
      "id": "5e19b272-9e7d-43b6-9c85-472a74ee1e2d",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/broadcast",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n     \"messages\": [\n    {\n        \"type\": \"text\",\n        \"text\": \"{{ $json.news_string }}\"\n    }\n  ]\n}\n  ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        420
      ],
      "id": "fabf9598-ba9b-4351-9c0f-957e5c481776",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UfnqxUDndwbStVLY",
          "name": "Header Auth account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Accounting Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1d317e38-b81c-4bdc-92cc-9a1ab79a998b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5527aba3e5f7fd672f5d367d02d902f44517d6277b99a5ea0b0e85f6853e306a"
  },
  "id": "vjJT4gwIXPzPVIa7",
  "tags": []
}